@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono";
}

footer {
  bottom: 0;
  content: "";
  width: 100%;
  height: 126px;
  background-color: #d1eefc;
}

main {
  width: 870px;
  margin: 200px auto;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form_login {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.form_login .form-group input {
  display: block;
  padding: 9px 12px;
  width: 400px;
}

.form_login button {
  margin-inline: auto;
  width: 277px;
  height: 56px;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: -3px 3px 0px #000000;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  cursor: pointer;
  transition: 0.3s;
}

.form_login button:hover {
  background: #e9e9e9;
}

.image_container img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.image_container {
  object-position: center;
  width: 282px;
  height: 351px;

  border: 1px solid #000000;
  filter: drop-shadow(-3px 3px 0px #000000);
  border-radius: 6px;
}
