@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Ubuntu Mono", monospace;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

main {
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 180px;
}

.flash-error {
  text-align: center;
  padding: 5px;
  background-color: rgb(223, 72, 72);
  color: white;
}

.flash-success {
  text-align: center;
  padding: 5px;
  background-color: rgb(80, 136, 48);
  color: white;
}

.dashboard {
  margin: 5em auto;

  justify-content: center;
  gap: 40px;
}

.icon {
  border: none;
  width: 20px;
}

img {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 4px;
}

.img-container {
  margin: 0 auto;
  width: 230px;

  filter: drop-shadow(-3px 3px 0px #000000);
  border-radius: 2px;
}

.heading {
  font-size: 20px;
  padding-left: 50px;
  animation: blink 2s infinite;
}

.btn_logout {
  border-radius: 5px;
  border: 1px solid #cecece;
  padding: 5px;

  font-size: 14px;
  cursor: pointer;
  color: black;

  text-decoration: none;
  background-color: #cecece;
  transition: 0.2s ease-in-out;
}

.btn_logout:hover {
  background-color: #b3b2b2;
}

.footer {
  position: fixed;
  width: 100%;
  height: 300px;

  background: #d1eefc;
}

.flex {
  display: flex;
  align-items: center;
}

.tiny_text {
  margin-top: auto;
  font-size: 14px;
  padding-left: 5px;
}

@keyframes blink {
  0% {
    color: black;
    background: none;
  }
  50% {
    color: green;
    background: none;
  }
  100% {
    color: black;
    background: none;
  }
}
