@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Ubuntu Mono", monospace;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

main {
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 180px;
}

img {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 4px;
}

.img-container {
  margin: 0 auto;
  width: 230px;

  filter: drop-shadow(-3px 3px 0px #000000);
  border-radius: 2px;
}

.heading {
  font-size: 20px;
  padding-left: 50px;
  animation: blink 2s infinite;
}

.footer {
  position: fixed;
  width: 100%;
  height: 300px;

  background: #d1eefc;
}

@keyframes blink {
  0% {
    color: black;
    background: none;
  }
  50% {
    color: green;
    background: none;
  }
  100% {
    color: black;
    background: none;
  }
}
