.form {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.form .form-group {
  display: flex;
  flex-direction: column;

  width: 400px;
  gap: 10px;
}

.form .form-group label {
  font-size: 18px;
  font-weight: 400;
}

.form .form-group input {
  padding: 9px 12px;
  border: 1px solid #b7b7b7;

  border-radius: 2px;
  width: 100%;
}

.form small {
  padding-block: 10px;
}

.form .button-login {
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  width: 80%;
  height: 55px;

  cursor: pointer;
  background-color: #fff;
  box-shadow: -3px 3px 0px #000000;

  transition: 0.2s ease-in-out;
}

.form .button-login:hover {
  transform: translateY(5px);

  box-shadow: none;
}

.hero {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

/* DASHBOARD */

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_dashboard {
  margin: 20px auto;
  width: 220px;
}

.user_info-container {
  border: 1px solid #000;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 320px;
}

.user_info-container .rental {
  width: 100%;
  padding: 12px;

  border-top: 1px solid #000;
}

.user_info-container .user_info {
  width: 100%;
  padding: 20px;

  color: white;
  font-weight: 400;
  font-size: 25px;

  text-align: center;
  background-color: #242424;
}

.user_total-balance .flex {
  justify-content: space-between;
}

.user_info-container .user_total-balance {
  background-color: #f3d7ce;
}

.user_info-container .user_total-balance small {
  font-size: 16px;
}

.user_info-container .user_total-balance p {
  font-size: 32px;
  font-weight: 600;
}

.user_total-income .flex {
  justify-content: space-between;
}

.user_info-container .user_total-income {
  background-color: #d1eefc;
}

.user_info-container .user_total-income small {
  font-size: 16px;
}

.user_info-container .user_total-income p {
  font-size: 32px;
  font-weight: 600;
}

.user_total-expenses .flex {
  justify-content: space-between;
}

.user_info-container .user_total-expenses {
  background-color: #e1e0e5;
}

.user_info-container .user_total-expenses small {
  font-size: 16px;
}

.user_info-container .user_total-expenses p {
  font-size: 32px;
  font-weight: 600;
}

.dashboard_area {
  border: 1px solid #000;

  width: 50%;
  height: 100%;
}

.dashboard_area article {
  width: 100%;
  min-height: 18em;
}

.dashboard_area .grafico {
  background-color: #d1eefc;
}

.dashboard_area .actions {
  justify-content: space-around;
}

.dashboard_area .actions div {
  height: 100%;
  width: 100%;
}

.transaction_box {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px;
  gap: 20px;
}

.form-transaction {
  padding: 30px;
  width: 300px;

  background: #fbeec0;
  border: 1px solid #000000;
  box-shadow: -3px 3px 0px #000000;

  border-radius: 5px;
}

.form-transaction-group {
  margin: 0 auto;
  max-width: 200px;

  justify-content: space-between;
  align-items: center;
}

.form-transaction-group:first-child {
  border-bottom: 1px solid #9f9f9f;
}

.form-transaction-group label {
  font-size: 16px;
}

.form-transaction-group input[type="text"] {
  width: 100%;
  border: none;

  background-color: transparent;
  font-size: 25px;
  outline: none;
}

.form-transaction-group:nth-child(2) {
  margin-top: 30px;
}

.form-transaction-group input[type="date"] {
  padding: 3px;

  outline: none;
  border: none;

  background-color: transparent;
  border-bottom: 1px solid #9f9f9f;
}

.form-transaction-group input[type="submit"] {
  background: transparent;
  padding: 5px;

  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;

  transition: 0.3s ease-in-out;
}

.form-transaction-group input[type="submit"]:hover {
  background-color: #f8d556;
}

.form-transaction-group:nth-child(3) {
  margin-block: 5px;
}

.form-transaction-group select {
  padding: 8px;
  width: 115px;
  border: none;

  border-radius: 3px;
  background-color: transparent;
  transition: 0.3s ease-in-out;

  font-size: 14px;
  outline: none;

  cursor: pointer;
}

.form-transaction-group select:hover {
  background-color: #f8d556;
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px;
  max-width: 300px;

  background: #d1eefc;
  border: 1px solid #000000;
  box-shadow: -3px 3px 0px #000000;

  border-radius: 5px;
  font-size: 25px;
}
